<!DOCTYPE html>
<html>
    <head>
        <title>Home</title>
        <meta content="width=device-width, initial-scale=1.0">
        
        <!-- CSS for some design elements-->
        <style>
            body {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 100vh;
                background: #575757;
            }

            h1 {
                font-size: 2em;
                color: #d0e0d2;
                margin-bottom: 20px;
            }
        </style>
    </head>

    <!-- display of page title and user input field -->
    <body>
        <h1>Search Engine Home</h1>
        <form action="search" method="get">
            <input name="search_input" type="text" placeholder="Enter your query...">
            <input type="submit" value="Search">
        </form>       
    </body>
</html>
